* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Quicksand";
  src: url(/static/fonts/quicksand/Quicksand-Light.ttf);
}

:root {
  --grey: #394555;
  --pink: #f76d6d;
  --blue: #24a7db;
  --light-grey: #f1f5f8;
  --text-grey: #acabb3;
}

body {
  font-family: Quicksand, Open Sans, sans-serif;
  font-size: 24px;
  letter-spacing: 0.06rem;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  border-bottom: 1px solid var(--blue);
  color: var(--blue);
}

a:hover  {
  border-bottom: 1px ;
  color: var(--pink);
}

p {
  margin: 25px 0;
}

/*  Block main */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}

.menu-main {
  padding: 30px 0 40px 0;
  text-align: center;
  font-size: 65%;
}

.menu-main ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  align-content: left;
}

.menu-main li,
.box-hello li,
.box-about-2 li,
.box-footer-2 li {
  display: inline;
}

.menu-main a {
  text-decoration: none;
  border-bottom: 0px;
  margin: 2%;
  color: var(--text-grey);
}

.menu-main a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 3px var(--pink) solid;
  padding-bottom: 3px;
}

h1 {
  margin: 0;
  font-size: 150%;
}

h1 span {
  color: var(--blue);
}

h3 {
  margin: 0;
  font-size: 130%;
  padding: 10px 0 30px 0;
}

h4 {
  font-weight: 500;
  font-size: 60%;
  padding-top: 20%;
}

.bg-grey {
  width: 100%;
  height: 100%;
  background-color: var(--grey);
  color: white;
}

.bg-white {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}

.bg-light-grey {
  width: 100%;
  height: 100%;
  background-color: var(--light-grey);
  color: black;
}


/*  Block Hello */

.box-hello {
  flex-basis: 34%;
  text-align: center;
  padding: 0 1%;
  margin-top: 10px;
}

.box-hello img {
  height: 100%;
  margin: 0;
  padding: 0;
}


.btn-1 {
  margin: 10% 0;
  padding: 12px 24px;
  border: 1px solid var(--blue);
  border-radius: 4px;
  font-size: 60%;
  color: var(--blue);
  background: var(--grey);
  cursor: pointer;
  letter-spacing: 0.08rem;
}

.btn-1:hover {
  background: var(--blue);
  border: 1px solid var(--blue);
  text-decoration: none;
  color: white;
}


/*  Block About */

.box-about-1 {
  flex-basis: 28%;
  margin: 80px 0;
  text-align: center;
  padding: 0 1%;
}

.box-about-2 {
  flex-basis: 40%;
  margin: 80px 0;
  text-align: left;
  padding: 0 1%;
}

.box-about-2 img {
  margin-top: 20px;
}


/*  Block Skills */

.box-skills-2 ol {
  list-style-image: url(/static/img/list.png);
}

.box-skills-2 li {
  margin: 10px 10px 10px 30px;
  padding-left: 10px;
}

.box-skills-1 hr {
  width: 68%;
  margin: 0 20% 0 16%;
  border: 0;
  background-color: var(--light-grey);
  border-top: 1px dashed #cccbd7;
}

.box-skills-1 {
  margin-top: 70px;
  flex-basis: 100%;
  text-align: center;
  padding: 0 1%;
}

.box-skills-2 {
  flex-basis: 22%;
  margin: 30px 0 30px 0;
  padding: 1%;
  text-align: left;
}

.box-skills-2 p {
  margin: 10px 0 30px 0;
  text-align: center;
}


/*  Block Proects */

.box-proect-1 {
  margin: 80px 0 50px 0;
  flex-basis: 100%;
  text-align: center;
  padding: 0 1%;
  
}

.box-proect-2 {
  justify-content: space-between;
  flex-basis: 21%;
  margin: 0 2%;

}

.box-more {
  margin: 40px 0 80px 0;
  flex-basis: 100%;
  text-align: center;
  padding: 0 1%;
}

.image {
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  overflow: hidden;
  height: 35%;
}

.image img {
  transition: transform 0.75s;
  object-fit: cover;
  height: 100%;
  width: 100%;

}

.image:hover img {
  transform: scale(1.05);

}

.text {
  padding: 5px 15px;
  border-radius: 0 0 10px 10px;
  border: var(--blue) 1px solid;
  border-radius: 0 0 10px 10px;
  border-top: 0;
  font-size: 80%;
}

.text p {
  text-align: center;
}

#proect-title {
  font-weight: bold;
  font-size: 115%;
}

#stack {
  color: var(--grey);
  font-size: 80%;
  font-weight: 600;
}


#stack span {
  background-color: var(--grey);
  padding: 2px 8px;
  border-radius: 5px;
  color: white;
}



/*  Block Contacts */

.container-2 {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.box-contacts-1 {
  text-align: left;
  flex-basis: 38%;
  padding: 0 1%;
  margin-left: 14%;
  padding-bottom: 20px;
  justify-content: left;
}

.box-contacts-2 {
  padding: 3%;
  width: 21%;
  height: 68%;
  background-color: var(--light-grey);
  box-shadow: 0 0 20px 5px rgba(221, 221, 221, 1);
  position: absolute;
  margin-left: 58%;
  text-align: center;
}

.box-contacts-3 {
  padding-top: 20px;
  flex-basis: 70%;
  font-size: 80%;
  text-align: left;
}

.box-contacts-3 p {
  margin: 15px 0;
}

.box-contacts-4 {
  flex-basis: 29%;
  padding: 0 1%;
}

.box-contacts-3 img{
  margin-right: 15px ;
  vertical-align: middle
}

.box-contacts-3 a,
.box-footer-main a,
.box-footer-1 a,
.box-footer-2 a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 600;
  border-bottom: 0px;
}

.box-contacts-3 a:hover,
.box-footer-main a:hover,
.box-footer-1 a:hover,
.box-footer-2 a:hover  {
  color: var(--pink);
  font-weight: 600;
}


/*  Block Form */

.post-input {
  text-align: left;
  margin: 10px 0;
  width: 90%;
  height: 36px;
  border-radius: 4px;
  border: #cccbd7 1px solid;
}

.post-textarea {
  text-align: left;
  margin: 10px 0;
  width: 90%;
  height: 72px;
  border-radius: 4px;
  border: #cccbd7 1px solid;
}

textarea,
input {
  font-family: inherit;
  font-size: 70%;
  padding: 0 5%;
}

textarea {
  padding-top: 3%;
}

textarea:hover,
input:hover {
  border-color: var(--blue);
}

.btn-2 {
  margin: 8% 0;
  padding: 12px 36px;
  border: 1px solid var(--blue);
  border-radius: 4px;
  font-size: 60%;
  color: white;
  background: var(--blue);
  cursor: pointer;
  letter-spacing: 0.08rem;
  font-weight: 600;
}

.btn-2:hover {
  background: var(--pink);
  border: 1px solid var(--pink);
  text-decoration: none;
  color: white;
  font-weight: 600;
}



/*  Block Footer */

.box-footer-1 p {
  margin: 0;
}
.box-footer-1 {
  margin: 50px 0 70px 0;
  height: 34px;
  flex-basis: 20%;
  text-align: left;
  font-size: 70%;
  font-weight: 600;
}


.box-footer-2 {
  margin: 50px 0 70px 0;
  flex-basis: 40%;
  text-align: right;
  font-size: 70%;
  font-weight: 600;
}

.box-footer-main {
  margin: 60px 0 40px 0;
  padding-top: 20px;
  flex-basis: 70%;
  text-align: center;
  font-size: 70%;
  font-weight: 600;
  border-top:#dee2e6 1px solid ;
}

.box-footer-2 img {
  margin: 0 5px;
}

#sent-mail {
  color: var(--pink);
  margin: 0px;
  font-size: 70%;
  font-weight: 600;
}



@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-hello {
    flex-basis: 100%;
    text-align: center;
  }

  .box-about-1 {
    flex-basis: 100%;
    text-align: center;
    margin: 8% 0 0 0;
    padding: 0 1%;
  }

  .box-about-2 {
    flex-basis: 100%;
    text-align: center;
    margin: 5% 0;
    padding: 0 3%;
  }

  h4 {
    padding-top: 5%;
  }

  .box-proect-1 {
    flex-basis: 100%;
    text-align: center;
    margin: 5% 10%;
    padding: 0 1%;
  }

  .box-proect-2 {
    width: 70%;
    text-align: center;
    margin: 10% 0;
    padding: 0 2%;
  }

  .container-2 {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .box-contacts-1 {
    text-align: center;
    flex-basis: 100%;
    padding: 2% 2%;
    margin: 0;
  }

  .box-contacts-2 {
    width: 96%;
    background-color: var(--light-grey);
    position: relative;
    padding: 2% 2%;
    height: 100%;
    box-shadow: none;
    text-align: center;
    margin: 7% 0 0 0;
  }

  .post-input {
    text-align: left;
    margin: 10px;
    width: 80%;
    height: 36px;
    border-radius: 4px;
    border: #cccbd7 1px solid;
  }
  
  .post-textarea {
    text-align: left;
    margin: 10px;
    width: 80%;
    height: 72px;
    border-radius: 4px;
    border: #cccbd7 1px solid;
  }
  
  textarea,
  input {
    font-family: inherit;
    font-size: 70%;
    padding: 0 3%;
  }
  
  textarea {
    padding-top: 3%;
  }
  
  textarea:hover,
  input:hover {
    border-color: var(--blue);
  }

}


@media (max-width: 1100px) {
 
  .box-proect-1 {
    flex-basis: 100%;
    text-align: center;
    margin: 5% 0;
    padding: 0 1%;
  }

  .box-proect-2 {
    flex-basis: 40%;
    text-align: center;
    margin: 1% 0;
    padding: 0 1%;
  }
}