

.biography {
  font-size: 22px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 50px 0 ;
  font-family: "Quicksand", sans-serif;
  color: var(--grey);
  box-sizing: border-box;

}
.biography * {
  box-sizing: border-box;
}

.body h4 {
  font-size: 24px;
  color: var(--blue);
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.biography h3 {
  padding: 0;
}

.biography-title {
  text-align: center;
  margin: 50px 0;
  color: var(--grey);
}
.timeline {
  width: 100%;
  background: #fff;
  padding: 20px 50px 0px 50px;
  position: relative;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 50px;
  width: 4px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}
.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: 0.5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid var(--pink);
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -8px;
  z-index: 99;
}
.entry .title h3 {
  margin: 0;
}
.entry .title p {
  margin: 10px 0 0 0;
}
.entry .body {
  margin: 0 0 3em;
  float: left;
  width: 55%;
  padding-left: 30px;
}
.entry .body p {
  line-height: 1.4em;
  margin: 30px 0;
  font-weight: bold;
}

.entry .body p span {
  color: var(--blue);
}

.entry .body p:first-child {
  margin-top: 0;
}


.body ol {
  list-style-image: url(/static/img/list.png);
}

.body li {
  margin: 10px 10px 0px 40px;
  padding-left: 10px;
}



@media (max-width: 1100px) {
  .biography{
    font-size: 18px;
  }
}


@media (max-width: 700px) {
  .timeline {
    width: 100%;
    background: #fff;
    padding: 0 2%;
    position: relative;}

  .timeline:before {
      content: "";
      position: absolute;
      top: 0px;
      left: calc(33%);
      bottom: 50px;
      width: 4px;
      background: #ddd;
    }

  h3 {
      font-size: 100%;
    }
    
  .biography {
      font-size: 14px;
    }

  .entry .body {
      margin: 0 0 3em;
      float: left;
      width: 65%;
      padding-left: 15px;
    }
    
  .body li {
    margin: 10px 0px 0px 25px;
    padding: 0;
  }

  .body ol {
    list-style-image: url(/static/img/list-sm.png);
  }
}