{% extends "base.html" %} 
{% block title %} 
Biography | Sugakov Sergey
{% endblock %} 
{% block biography %}
active
{% endblock %} 
{% block page_content %}

<div class="biography-title"><h1>Sugakov's Biography</h1></div>

<div class="biography">
  <div class="timeline">
    <div class="entry">
      <div class="title">
        <h3>2009 - Present</h3>
        <p>sanline.by</p>
      </div>
      <div class="body">
        <p>
          I’m the co-founder of the company <span>www.sanline.by</span>,
          specializes on import of sanitary and plumbing engineering of European
          brands, retail and wholesale in online-store and show rooms. Despite
          the difficulties, several changes and economic turbulence, the company
          has grown and developed. Today it is one of the oldest and most
          reliable plumbing company in Belarus.
        </p>
        <p>My responsibilities include:</p>
        <ol>
          <li>Operational and strategical management of the company;</li>
          <li>
            Management of wholesale sector and cooperation with dealers and
            interior designers;
          </li>
          <li>
            Design and implementation of formal internal regulations and
            procedures related to several working processes;
          </li>
          <li>
            Implementation of automation for some working processes and
            workflows;
          </li>
          <li>
            Cooperation with external IT specialists developing online-store
            site,
          </li>
          <li>
            Improvement of certain modules of the site, updating site content,
            improvement and update of the visual design of the site.
          </li>
        </ol>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2007 - 2009</h3>
        <p>Road construction <br />project organization</p>
      </div>
      <div class="body">
        <p>
          After graduating from the university, I had to work in a state-owned
          project company for 2 years. During this time, I have mastered the
          <span>AutoCAD</span> program at a high level to create construction
          drawings of any complexity, and I have been working in
          <span>Photoshop</span>.
        </p>
        <p>
          At this time, having cooperated with my colleague, we began to work on
          creating of our own business - a company specializing on the sale and
          installation of plumbing. Immediately after the completion of
          compulsory period (2 years), I have left the project company and
          started working on my own.
        </p>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2002 - 2007</h3>
        <p>Belarusian National <br />Technical University</p>
      </div>
      <div class="body">
        <p>
          I have graduated from
          <span>Belarusian National Technical University</span>, faculty
          "Construction of roads and airfields".
        </p>
        <p>
          At this time, I in cooperation with my colleague created an
          online-store selling electronics and mobile phones.
        </p>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2002</h3>
        <p>School</p>
      </div>
      <div class="body">
        <p>
          I finished school-19 named by Yanka Kupala in Minsk. A class with
          in-depth study of <span>mathematics</span>.
        </p>
        <p>At that time, the first Pascal program was written by me.</p>
      </div>
    </div>
  </div>
</div>

<div class="biography-title" id="it-way"><h1>My Python Way</h1></div>

<div class="biography">
  <div class="timeline">
    <div class="entry">
      <div class="entry">
        <div class="title">
          <h3>Present days</h3>
          <p>IT Overone</p>
        </div>
        <div class="body">
          <p>
            In the process of studying course<span>"The Way Python"</span>
            on the online platform with individual mentoring by experienced
            programmer:
          </p>
          <ol>
            <li>Python Theory</li>
            <li>Django</li>
            <li>Flask</li>
            <li>PyCharm, Bootstrap</li>
            <li>HTML, CSS, Jinja, SQL</li>
          </ol>
        </div>
      </div>
      <div class="title">
        <h3>Present days</h3>
        <p>Stepik.org</p>
      </div>
      <div class="body">
        <p>
          In the process of studying <span>"Interactive SQL Trainer"</span> on
          the online platform stepik.org
        </p>
        <ol>
          <li>Relational Model Basics and SQL</li>
          <li>SQL queries against related tables</li>
          <li>Databases and SQL queries</li>
          <li>SQL user queries</li>
        </ol>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>March 2022</h3>
        <p>Stepik.org</p>
      </div>
      <div class="body">
        <p>
          Completed courses <span>"Web development for beginners"</span> on the
          online platform stepik.org with the highest rate
        </p>
        <ol>
          <li>HTML</li>
          <li>CSS</li>
          <li>Frameworks</li>
        </ol>
        <p>
          <a
            href="static/files/stepik-certificate-38218-7457477.pdf"
            target="_blank"
            title="Open certificate - Web development for beginners | Stepik.org"
            >Certificate</a
          >
        </p>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>January 2022</h3>
        <p>Stepik.org</p>
      </div>
      <div class="body">
        <p>
          Completed courses <span>"Programming on Python"</span> on the online
          platform stepik.org with the highest rate
        </p>
        <ol>
          <li>Operators. Variables. Data types. Conditions</li>
          <li>Cycles. Lines. Lists</li>
          <li>Functions. Dictionaries. Interpreter. Files. Modules.</li>
        </ol>
        <p>
          <a
            href="static/files/stepik-certificate-67-96c3507.pdf"
            target="_blank"
            title="Open certificate - Programming on Python | Stepik.org"
            >Certificate</a
          >
        </p>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>Sept 2021</h3>
        <p>My Python Way</p>
      </div>
      <div class="body">
        <p>
          After learning Python using Internet resources , I have read the book
          with learning materials in russian language.
        </p>
        <h4>Eric Matthes "Python Crash Course", 2nd Edition, 2021</h4>
        <p></p>
        <ol>
          <li>Programming Game</li>
          <li>Data visualization</li>
          <li>Web Applications</li>
        </ol>
      </div>
    </div>
  </div>
</div>

{% endblock %}
