{% extends "base.html" %} {% block title %} Biography | Sugakov Sergey
{%endblock %} 

{% block page_content %}

<div class="base-box-2">
  <div class="timeline">
    <div class="entry">
      <div class="title">
        <h3>2014 - Present</h3>
        <p>Title, Company</p>
      </div>
      <div class="body">
        <p>
          Voluptatibus veniam ea reprehenderit atque reiciendis non laborum
          adipisci ipsa pariatur omnis.
        </p>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2010 - Present</h3>
        <p>Title, Company</p>
      </div>
      <div class="body">
        <p>
          Voluptatibus veniam ea reprehenderit atque reiciendis non laborum
          adipisci ipsa pariatur omnis.
        </p>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2002 - 2007</h3>
        <p>University</p>
      </div>
      <div class="body">
        <p>
          Studying at the
          <span>Belarusian National Technical University.</span> Faculty
          "Construction of roads and airfields".
        </p>
        <p>
          At this time, my partner and I opened an online store selling
          electronics and mobile phones. In the first wave of the emergence of
          online stores in the country.
        </p>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2002</h3>
        <p>School</p>
      </div>
      <div class="body">
        <p>
          Finished School-19 named by Yanka Kupala in Minsk. A class with
          in-depth study of <span>mathematics.</span>
        </p>
        <p>At that time, the first Pascal program was written.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
