{% extends "base.html" %} {% block title %} Biography | Sugakov Sergey
{%endblock %} {% block page_content %}
<div class="biography-title"><h1>Sugakov's Biography</h1></div>

<div class="biography">
  <div class="timeline">
    <div class="entry">
      <div class="title">
        <h3>2009 - Present</h3>
        <p>www.sanline.by</p>
      </div>
      <div class="body">
        <p>
          For the first couple of years, the <span>sanline.by</span> company was
          created by trial and error. Despite the difficulties and economic
          turbulence, the company grew and developed.
        </p>
        <p>
          Today it is one of the oldest and most reliable plumbing stores in
          Belarus. My responsibilities include working with the site, updating
          content, automating workflows.
        </p>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2007 - 2009</h3>
        <p>Road construction <br />project organization</p>
      </div>
      <div class="body">
        <p>
          After graduating from university, I had to work in a state project
          company for 2 years. During this time, I have
          <span>mastered the AutoCAD</span>
          program at a high level to create construction drawings of any
          complexity. Working in <span>Photoshop.</span>
        </p>
        <p>
          At this time, having cooperated with a colleague, we begin work on
          creating our own business - a company for the sale and installation of
          plumbing. On the first day after the end of the mandatory period, I
          leave the project company and start working for myself.
        </p>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2002 - 2007</h3>
        <p>Belarusian National <br />Technical University</p>
      </div>
      <div class="body">
        <p>
          Studying at the
          <span>BNTU</span> Faculty "Construction of roads and airfields".
        </p>
        <p>
          At this time, my partner and I are opening an online store selling
          electronics and mobile phones. In the first wave of the emergence of
          online stores in the country.
        </p>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2002</h3>
        <p>School</p>
      </div>
      <div class="body">
        <p>
          Finished School-19 named by Yanka Kupala in Minsk. A class with
          in-depth study of <span>mathematics.</span>
        </p>
        <p>At that time, the first Pascal program was written.</p>
      </div>
    </div>
  </div>
</div>

<div class="biography-title" id="it-way"><h1>My Python Way</h1></div>

<div class="biography">
  <div class="timeline">
    <div class="entry">
      <div class="entry">
        <div class="title">
          <h3>Present days</h3>
          <p>IT Overone</p>
        </div>
        <div class="body">
          <p>
            In the process of studying course<span>"The Way Python"</span> on the online
            platform whith individual mentor
          </p>
          <ol>
            <li>Python Theory</li>
            <li>Django</li>
            <li>Flask</li>
            <li>PyCharm, Bootstrap</li>
            <li>HTML, CSS, Jinja, SQL</li>
          </ol>
  
        </div>
      </div>
      <div class="title">
        <h3>Present days</h3>
        <p>Stepik.org</p>
      </div>
      <div class="body">
        <p>
          In the process of studying <span>"Interactive SQL Trainer"</span> on the online
          platform stepik.org
        </p>
        <ol>
          <li>Relational Model Basics and SQL</li>
          <li>SQL queries against related tables</li>
          <li>Databases and SQL queries</li>
          <li>SQL user queries</li>
        </ol>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>March 2022</h3>
        <p>Stepik.org</p>
      </div>
      <div class="body">
        <p>
          Completed courses <span>"Web development for beginners"</span> on the online
          platform stepik.org with distinction
        </p>
        <ol>
          <li>HTML</li>
          <li>CSS</li>
          <li>Frameworks</li>
        </ol>
        <p>
          <a
            href="static/files/stepik-certificate-38218-7457477.pdf"
            target="_blank"
            title="Open certificate - Web development for beginners | Stepik.org"
            >Certificate</a
          >
        </p>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>January 2022</h3>
        <p>Stepik.org</p>
      </div>
      <div class="body">
        <p>
          Completed courses <span>"Programming on Python"</span> on the online
          platform stepik.org with distinction
        </p>
        <ol>
          <li>Operators. Variables. Data types. Conditions</li>
          <li>Cycles. Lines. Lists</li>
          <li>Functions. Dictionaries. Interpreter. Files. Modules.</li>
        </ol>
        <p>
          <a
            href="static/files/stepik-certificate-67-96c3507.pdf"
            target="_blank"
            title="Open certificate - Programming on Python | Stepik.org"
            >Certificate</a
          >
        </p>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>September 2021</h3>
        <p>My Python Way</p>
      </div>
      <div class="body">
        <p>
          After learning Python on the Internet on my own, I start reading the
          book in russian language.
        </p>
        <h4>Eric Matthes "Python Crash Course", 2nd Edition, 2021</h4>
        <p></p>
        <ol>
          <li>Programming Game</li>
          <li>Data visualization</li>
          <li>Web Applications</li>
        </ol>
      </div>
    </div>
  </div>
</div>

{% endblock %}
